Connected Services/DBManagerServiceReference/DBManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="Delta.DeltaDBManager" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DBManager" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="Delta.DeltaDBManager" location="http://localhost:8733/Design_Time_Addresses/Delta.DeltaDBManager/DBManager/?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_DBManagerInterface" type="i0:DBManagerInterface">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BookCar">
      <soap:operation soapAction="Delta.DeltaDBManager/DBManagerInterface/BookCar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DatabaseFaultFault">
        <soap:fault use="literal" name="DatabaseFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteBooking">
      <soap:operation soapAction="Delta.DeltaDBManager/DBManagerInterface/DeleteBooking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DatabaseFaultFault">
        <soap:fault use="literal" name="DatabaseFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateBooking">
      <soap:operation soapAction="Delta.DeltaDBManager/DBManagerInterface/UpdateBooking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DatabaseFaultFault">
        <soap:fault use="literal" name="DatabaseFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetBookingByID">
      <soap:operation soapAction="Delta.DeltaDBManager/DBManagerInterface/GetBookingByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DatabaseFaultFault">
        <soap:fault use="literal" name="DatabaseFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetBookings">
      <soap:operation soapAction="Delta.DeltaDBManager/DBManagerInterface/GetBookings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DatabaseFaultFault">
        <soap:fault use="literal" name="DatabaseFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetBookingsForCar">
      <soap:operation soapAction="Delta.DeltaDBManager/DBManagerInterface/GetBookingsForCar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DatabaseFaultFault">
        <soap:fault use="literal" name="DatabaseFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddCar">
      <soap:operation soapAction="Delta.DeltaDBManager/DBManagerInterface/AddCar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DatabaseFaultFault">
        <soap:fault use="literal" name="DatabaseFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteCar">
      <soap:operation soapAction="Delta.DeltaDBManager/DBManagerInterface/DeleteCar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DatabaseFaultFault">
        <soap:fault use="literal" name="DatabaseFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCars">
      <soap:operation soapAction="Delta.DeltaDBManager/DBManagerInterface/GetCars" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DatabaseFaultFault">
        <soap:fault use="literal" name="DatabaseFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateCar">
      <soap:operation soapAction="Delta.DeltaDBManager/DBManagerInterface/UpdateCar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DatabaseFaultFault">
        <soap:fault use="literal" name="DatabaseFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableCars">
      <soap:operation soapAction="Delta.DeltaDBManager/DBManagerInterface/GetAvailableCars" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DatabaseFaultFault">
        <soap:fault use="literal" name="DatabaseFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddReport">
      <soap:operation soapAction="Delta.DeltaDBManager/DBManagerInterface/AddReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DatabaseFaultFault">
        <soap:fault use="literal" name="DatabaseFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteReport">
      <soap:operation soapAction="Delta.DeltaDBManager/DBManagerInterface/DeleteReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DatabaseFaultFault">
        <soap:fault use="literal" name="DatabaseFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetReportByID">
      <soap:operation soapAction="Delta.DeltaDBManager/DBManagerInterface/GetReportByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportsForCar">
      <soap:operation soapAction="Delta.DeltaDBManager/DBManagerInterface/GetReportsForCar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DatabaseFaultFault">
        <soap:fault use="literal" name="DatabaseFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetUserByEmail">
      <soap:operation soapAction="Delta.DeltaDBManager/DBManagerInterface/GetUserByEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DatabaseFaultFault">
        <soap:fault use="literal" name="DatabaseFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="Delta.DeltaDBManager/DBManagerInterface/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DatabaseFaultFault">
        <soap:fault use="literal" name="DatabaseFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap:operation soapAction="Delta.DeltaDBManager/DBManagerInterface/DeleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DatabaseFaultFault">
        <soap:fault use="literal" name="DatabaseFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <soap:operation soapAction="Delta.DeltaDBManager/DBManagerInterface/GetUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DatabaseFaultFault">
        <soap:fault use="literal" name="DatabaseFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddService">
      <soap:operation soapAction="Delta.DeltaDBManager/DBManagerInterface/AddService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DatabaseFaultFault">
        <soap:fault use="literal" name="DatabaseFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteService">
      <soap:operation soapAction="Delta.DeltaDBManager/DBManagerInterface/DeleteService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DatabaseFaultFault">
        <soap:fault use="literal" name="DatabaseFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateService">
      <soap:operation soapAction="Delta.DeltaDBManager/DBManagerInterface/UpdateService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DatabaseFaultFault">
        <soap:fault use="literal" name="DatabaseFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetServicesForCar">
      <soap:operation soapAction="Delta.DeltaDBManager/DBManagerInterface/GetServicesForCar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DatabaseFaultFault">
        <soap:fault use="literal" name="DatabaseFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetMaxBooking">
      <soap:operation soapAction="Delta.DeltaDBManager/DBManagerInterface/GetMaxBooking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DatabaseFaultFault">
        <soap:fault use="literal" name="DatabaseFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetMaxReport">
      <soap:operation soapAction="Delta.DeltaDBManager/DBManagerInterface/GetMaxReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DatabaseFaultFault">
        <soap:fault use="literal" name="DatabaseFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetMaxService">
      <soap:operation soapAction="Delta.DeltaDBManager/DBManagerInterface/GetMaxService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DatabaseFaultFault">
        <soap:fault use="literal" name="DatabaseFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DBManager">
    <wsdl:port name="BasicHttpBinding_DBManagerInterface" binding="tns:BasicHttpBinding_DBManagerInterface">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Delta.DeltaDBManager/DBManager/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>